.header {
  /* header */
  width: 100%;
  position: fixed;
  display: flex;
  height:8%;
  border-radius: 0 0 10px 10px;
  top: 0;
  align-items: center;

  background-color: #FFFFFF;
}

.img1 {
  height: 60%;
  text-align: center;
  padding: 0 50px;
}

